<xml>
	<main>
		<hello path = "C:/Users/Admin/Project/BirdCode/StreamingAssets/flappy.lua"/>
		<loop path = "C:/Users/Admin/Project/BirdCode/StreamingAssets/UITest.lua"/>
	</main>
	<service>
		<userservice path = "C:/Users/Admin/Project/BirdCode/StreamingAssets/userservice.lua"/>
	</service>
</xml>
