<xml>
	<main>
		<hello path = "https://raw.githubusercontent.com/maccoop/LuaScript/refs/heads/main/flappy.lua"/>
		<uiTest path = "https://raw.githubusercontent.com/maccoop/LuaScript/refs/heads/main/UITest.lua"/>
	</main>
	<service>
		<userservice path = "https://raw.githubusercontent.com/maccoop/LuaScript/refs/heads/main/userservice.lua"/>
	</service>
</xml>